h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

p {
  text-align: center;
}

.tada {
  background-image: url(https://i.ya-webdesign.com/images/confetti-png-gif-6.gif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.what {
  color: black;
}

body {
  background-image: url(https://miketayseartteacher.files.wordpress.com/2018/03/bottom-of-page-fire-gif.gif?w=217&h=217&zoom=2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse
}